@model UserFileViewModel

@{
	ViewBag.Title = "Details";
	
}
	@*@Html.ActionLink("Back to list", "Index","Home")*@
	<a asp-action="Files" asp-controller="Home">Back to list</a>
	<table>
		<tr>
			<th>Filename</th>
			<th>Extension</th>
			<th>Size</th>
			<th>Created</th>
			<th>Last Modified</th>
			<th>Owner</th>
			
		</tr>
		
			<tr>
				<td>@Model.Filename</td>
				<td>@Model.Extension</td>
				<td>@Model.Size</td>
				<td>@Model.UploadTime</td>
				<td>@Model.LastEdit</td>
				<td>@Model.Owner</td>
				
				
			</tr>
						
	</table>
	
	<a asp-action="Download" asp-controller="File" asp-route-id="@Model.FileId" download="@Model.Filename">Download</a>
