@model BearDenFileStorage.UserFileViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>File</title>
</head>
<body>
	@Html.ActionLink("Back to list", "Index","Home")
	<table>
		<tr>
			<th>Filename</th>
			<th>Extension</th>
			<th>Size</th>
			<th>Created</th>
			<th>Last Modified</th>
			<th>Owner</th>
			<th>Shared with</th>
		</tr>
		
			<tr>
				<td>@Model.Filename</td>
				<td>@Model.Extension</td>
				<td>@Model.Size</td>
				<td>@Model.UploadTime</td>
				<td>@Model.LastEdit</td>
				<td>@Model.Owner</td>
				<td>
					@for (int i = 0; i < Model.SharedUsers.Count; i++)
					{

						@(Model.SharedUsers[i] + (i != Model.SharedUsers.Count - 1 ? "," : ""));

					}
				</td>
				
			</tr>
						
	</table>
	
	<a asp-action="Download" asp-controller="File" asp-route-id="@Model.FileId" download="@Model.Filename">Download</a>
</body>
</html>