@model UserFileViewModel
<section class="panel panel-primary">
	<div class="panel-heading">
		@*@Html.ActionLink(file.Filename, "Details","File", new { id = file.FileId })*@
		@Model.Filename

	</div>
	<div class="panel-body">
		<div>
			Size: @Model.Size
		</div>
		<div>
			Last Editted: @Model.LastEdit
		</div>

		<div>
			<a class="btn btn-default" asp-action="Details" asp-controller="File" asp-route-id="@Model.FileId">Details</a>
			<a class="btn btn-default" asp-action="Edit" asp-controller="File" asp-route-id="@Model.FileId">Edit</a>
		</div>
	</div>
	
</section>